.container{background-color: #000;  padding: 40px 20px; border-radius: 10px; box-shadow: 0 2px 8px rgba(0,0,0,0.5); width: 375px; max-width: 90%;}
.container h4{font-weight: 500; text-align: center; margin-bottom: 30px;}
.container .input {display: flex; flex-direction: column; align-items: center; gap: 20px;}
.container .input input{width: 100%;}
.container .input select{width: 100%;}
.container .info{font-size: 15px; color: #999}
.container .confirm{display: flex; align-items: center; justify-content: center; gap: 10px; margin-top: 20px;}
.container .confirm button{ font-size: 13px; height: 30px; border-radius: 3px; padding: 0 10px; min-width: 60px;}
.container .confirm button.cancle{color: #fff; background-color: #777}
.container .confirm button.submit{color: #222; font-weight: 500; background-color: var(--color1)}


.price{ width: 100%; padding: 0 20px;}
.price dl{display: flex; align-items: center; justify-content: space-between; font-size: 13px; color: #999; margin: 10px 0;}
.price dl.total{font-size: 15px; color: #ccc;  margin-top: 20px;}

.bold{margin-top: 10px; text-align: center; font-size: 18px; color: #fff; }

@media (max-width: 900px) {
    .container h4{font-size: 14px;}
    .container .info{font-size: 13px;}
    .container .confirm button{font-size: 12px;}
}