.classContents  *{max-width: 100%;}
.classContents section + section{margin-top: 50px; border-top: 1px solid #555; padding-top: 30px;}
.classContents section h3{font-weight: 500; font-size: 20px; margin-bottom: 15px;}